@import "tailwindcss";

@theme {
	--color-primary: #ff6d1f;
	--color-secondary: #f5e7c6;
	--color-accent: #faf3e1;
	--color-neutral: #222222;
}

.animation-ease {
	@apply transition-all ease-in-out duration-200;
}

.clip {
	clip-path: circle(100% at 50% 50%);
}

.clip-hidden {
	clip-path: circle(0% at 50% 50%);
}
