---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/landing/Hero.astro'
import Projects from '../components/landing/Projects.astro'
import About from '../components/landing/About.astro'
import Skills from '../components/landing/Skills.astro'
---

<BaseLayout title="Angel Rodriguez | ardzcodes" description="Ideas page using astro and tailwind">
  <main class="relative z-10">
    <Hero />s
    <About />
    <Projects />
    <Skills />
  </main>
</BaseLayout>
